<web-app>  
  
<servlet>  
<servlet-name>CrudOperation</servlet-name>  
<servlet-class>CrudOperation</servlet-class>  
</servlet> 

<servlet>  
<servlet-name>deleteTable</servlet-name>  
<servlet-class>deleteTable</servlet-class>  
</servlet> 

<servlet>  
<servlet-name>updateTableRow</servlet-name>  
<servlet-class>updateTableRow</servlet-class>  
</servlet>

<servlet>  
<servlet-name>deleteTableRow</servlet-name>  
<servlet-class>deleteTableRow</servlet-class>  
</servlet>


  <!-- =========== -->
<servlet>  
<servlet-name>Main</servlet-name>  
<servlet-class>Main</servlet-class>  
</servlet>

<servlet-mapping>  
<servlet-name>Main</servlet-name>  
<url-pattern>/Main</url-pattern>
</servlet-mapping>  

<!--  -->

<servlet>  
<servlet-name>insertTableRow</servlet-name>  
<servlet-class>insertTableRow</servlet-class>  
</servlet> 

<servlet>  
<servlet-name>tableList</servlet-name>  
<servlet-class>tableList</servlet-class>  
</servlet> 

<servlet>  
<servlet-name>ImportCsv</servlet-name>  
<servlet-class>ImportCsv</servlet-class>  
</servlet>  

<servlet>  
<servlet-name>ImportCsv1</servlet-name>  
<servlet-class>ImportCsv1</servlet-class>  
</servlet> 

<servlet>  
<servlet-name>CreateDb</servlet-name>  
<servlet-class>CreateDb</servlet-class>  
</servlet>  

<servlet-mapping>  
<servlet-name>CreateDb</servlet-name>  
<url-pattern>/CreateDb</url-pattern>  
</servlet-mapping>

<servlet-mapping>  
<servlet-name>CrudOperation</servlet-name>  
<url-pattern>/CrudOperation</url-pattern>  
</servlet-mapping>  

<servlet-mapping>  
<servlet-name>insertTableRow</servlet-name>  
<url-pattern>/insertTableRow</url-pattern>
</servlet-mapping>  

<servlet-mapping>  
<servlet-name>ImportCsv</servlet-name>  
<url-pattern>/ImportCsv</url-pattern>
</servlet-mapping>  

<servlet-mapping>  
<servlet-name>ImportCsv1</servlet-name>  
<url-pattern>/dbnames</url-pattern>
</servlet-mapping>  

<servlet-mapping>  
<servlet-name>deleteTable</servlet-name>  
<url-pattern>/deleteTable</url-pattern>
</servlet-mapping> 

<servlet-mapping>  
<servlet-name>deleteTableRow</servlet-name>  
<url-pattern>/deleteTableRow</url-pattern>
</servlet-mapping> 

<servlet-mapping>  
<servlet-name>updateTableRow</servlet-name>  
<url-pattern>/updateTableRow</url-pattern>
</servlet-mapping> 

<servlet-mapping>  
<servlet-name>tableList</servlet-name>  
<url-pattern>/tableList</url-pattern>
</servlet-mapping>  

</web-app> 